[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=J.A.R.V.I.S.
Exec=/opt/jarvis/bin/jarvis
Icon=jarvis64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
